body{
 margin: 0;  
 padding: 0;
 box-sizing: border-box;
    min-height: 100vh;
   
}
.app{
    width: 400px;
    margin: auto;
    padding: 20px;
    /* background-color: #asdf83; */
}
button{
    padding:10px;

}
.value{
    font-size: 40px;
}